
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* App.css */


*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

}

@font-face {
  font-family: 'Montserrat',;
  src: url('/public/fonts/Montserrat-Regular.ttf') format('truetype');
  src: url('/public/fonts/Montserrat-Bold.ttf') format('truetype');
  /* You can include other font formats (e.g., woff, woff2) for better browser support */
}

body {
  font-family: 'Montserrat', sans-serif;
  /* Use 'YourCustomFont' as the font-family for the entire application */
}

.navbar{
  backdrop-filter: blur(6px) saturate(120%);
  -webkit-backdrop-filter: blur(6px) saturate(120%);
  background-color: rgba(17, 25, 40, 0.61);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.nav-bar, .nav-item{
display: flex;
justify-content: space-between;
font-weight: 500;
}
.heading {
  position: sticky;
  top: 0;
  background-color: white; /* Add your desired background color */
  z-index: 100; /* Adjust the z-index as needed */
}


.navbar a{
  color: aliceblue;
  text-decoration: none;
 font-size: 1.2rem;
 text-align: center;
 letter-spacing: 2px;
 display: flex;
 justify-content: space-between;
}


/* PinterestGrid.css */
.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* Adjust the margin to control the gap between items */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px; /* Adjust the padding to control the gap between items */
}

.pinterest-grid-item {
  width: 100%; /* Full width within the column */
  margin-bottom: 30px; /* Adjust the margin to control the gap between items */
}


