
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
  @import '@fortawesome/fontawesome-svg-core/styles.css';

  /* App.css */
*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  animation: .3 all ease 150ms
}

@font-face {
  font-family: 'Montserrat',;
  src: url('/public/fonts/Montserrat-Regular.ttf') format('truetype');
  src: url('/public/fonts/Montserrat-Bold.ttf') format('truetype');
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color:#131517ff;
  scroll-behavior: smooth; /* Enable smooth scrolling */

}


.nav-bar, .nav-item,.nav-link{
display: flex;
font-weight: 600;
}

.heading {
  position: sticky;
  top: 0;
  z-index: 100; 
}


.navbar  a{
 font-size: 1.2rem;
 letter-spacing: 2px;

}
.navbar a:hover{
color:limegreen;
border-bottom:2px solid #b3d4fc;
}


/* PinterestGrid.css */
.my-masonry-grid {
  display: flex;
  margin-left: -30px; 
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px; 
}

.pinterest-grid-item {
  width: 100%;
  margin-bottom: 30px; 
}


/* card toggle */
label {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px 15px 10px 10px;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: black;
 }
 
 input {
  display: none;
 }
 
 input:checked + label svg {
  fill: hsl(0deg 100% 50%);
  stroke: hsl(0deg 100% 50%);
  animation: heartButton 1s;
 }
 
 @keyframes heartButton {
  0% {
   transform: scale(1);
  }
 
  25% {
   transform: scale(1.3);
  }
 
  50% {
   transform: scale(1);
  }
 
  75% {
   transform: scale(1.3);
  }
 
  100% {
   transform: scale(1);
  }
 }
 
 input + label .action {
  position: relative;
  overflow: hidden;
  display: grid;
 }
 
 input + label .action span {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  transition: all .5s;
 }
 
 input + label .action span.option-1 {
  transform: translate(0px,0%);
  opacity: 1;
 }
 
 input:checked + label .action span.option-1 {
  transform: translate(0px,-100%);
  opacity: 0;
 }
 
 input + label .action span.option-2 {
  transform: translate(0px,100%);
  opacity: 0;
 }
 
 input:checked + label .action span.option-2 {
  transform: translate(0px,0%);
  opacity: 1;
 }
 
 

 /* lazy component loader */
 .dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute; 
  margin-top: 5%;
}

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #6793fb;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}/* swiper  */

 /* swiper  */
 .swiper-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:50px 0  0;
  padding: 0 0 50px ; 
}

.card-animation-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card-animation-cont .card {
  position: relative;
  height: 300px;
  width: 270px;
  overflow: hidden;
  border-radius: 10px;
}
/* Shadow over images */
.card-animation-cont .card::after {
  content: "";
  position: absolute;
  height: 90%;
  inset: 0;
  z-index: 10;
  background-color: rgb(0, 0, 0, 0.1);
  z-index: 1;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.card-animation-cont .card img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  transform-origin: bottom;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.card-animation-cont .card .info {
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  background-color: rgb(225, 225, 225);
  z-index: 2;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 18px;
  text-decoration: none;
  color: rgb(20, 20, 20);
  border-radius: 10px;
  transform: translateY(68%); /* Change this property */
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.card-animation-cont .card .info strong {
  font-size: 1rem;
  text-transform: uppercase;
}
.card-animation-cont .card .info .sub-title {
  font-size: 0.8rem;
  opacity: 0.7;
  margin-top: 5px;
  font-weight: 500;
}

.card-animation-cont .card .info hr {
  margin: 15px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.card-animation-cont .card .hide-info {
  transform: translateY(25px);
  opacity: 0;
  transition: 0.4s;
  transition-delay: 0.3s;
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.card-animation-cont .card .hide-info a:hover {
  color: var(--dsecondarycolor);
}

.card-animation-cont .card:hover > .info {
  transform: translateY(0);
}
.card-animation-cont .card:hover > img {
  transform: scale(1.2);
}
.card-animation-cont .card:hover::after {
  background-color: rgb(0, 0, 0, 0.5);
}
.card-animation-cont .card:hover .hide-info {
  opacity: 1;
  transform: translateY(0);
}


/* Movies Toggle */
.Toast-con{
   z-index: 1000;
   bottom: 50%;
}



/* Home-css & Home-Swiper */
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; 
}

.text-overlay{
  text-shadow:5px 2px 2px rgba(255, 255, 255, 0.5); ;
}

.span-shadow{
 text-shadow: 5px 5px 5px rgba(12, 9, 10, 0.4);
}

.top-image {
  position: absolute;
  top: 85px;
  left: 140px;
  width: 200px;
  height: auto;

}

.bottom-image {
  position: relative; 
  width: 500px;
  height: auto;
}
.Swiper-disc {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.Swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.Swiper-slide img {
  display: absolute;
  width: 100%;
}

/* footer */

footer {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
  bottom: 0;
  color: #fff;
}


/* Media-Queries */
/* Your other CSS styles */

@media all and (min-width: 320px) and (max-width: 577px) {
  .home, .text-overlay{
    font-size: 7rem;
  }
  .tv-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

.Download-mobile{
  display: flex;
  flex-direction: column;
}
.img-DL>img{
  margin-bottom: 10px;
  size:300px ;
}
.watch-e{
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: column;

}
.img-kids>img{
  size: 200px;
  height: auto;
  
}
.watch-k{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}
