
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
  @import '@fortawesome/fontawesome-svg-core/styles.css';

  /* App.css */
*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  animation: .3 all ease 150ms
}

@font-face {
  font-family: 'Montserrat',;
  src: url('/public/fonts/Montserrat-Regular.ttf') format('truetype');
  src: url('/public/fonts/Montserrat-Bold.ttf') format('truetype');
  src: url('/public/fonts/Montserrat-Light.ttf') format('truetype');

}


body {  font-family: 'Montserrat', sans-serif;
  background-color:#131517ff;


  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  overflow: -webkit-scrollbars-none; 
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width:0x;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent; 
}

body::-webkit-scrollbar-track {
  background-color: black;
}

a{
  text-decoration: none;
}
.nav-bar, .nav-item,.nav-link{
display: flex;
font-weight: 600;
}

.heading {
  position: sticky;
  top: 0;
  z-index: 100; 
}



.navbar  a{ 
 font-size: 1rem;
 letter-spacing: 2px;

}
.navbar a:hover{
color:#db3545ff;
border-bottom:2px solid #b3d4fc;
}


/* MASONRYcss */
.my-masonry-grid {
  display: flex;
  margin-left: -20px;  
flex-wrap: nowrap;

}

.my-masonry-grid_column {
  padding-left: 20px; 
}

.grid-item {
  width: 100%;
  margin-bottom: 20px; 
}


/* card toggle */
label {
  background-color: white;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px 15px 10px 10px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: black;
 }
 
 input {
  display: none;
 }
 
 input:checked + label svg {
  fill: hsl(0deg 100% 50%);
  stroke: hsl(0deg 100% 50%);
  animation: heartButton 1s;
 }
 
 @keyframes heartButton {
  0% {
   transform: scale(1);
  }
 
  25% {
   transform: scale(1.3);
  }
 
  50% {
   transform: scale(1);
  }
 
  75% {
   transform: scale(1.3);
  }
 
  100% {
   transform: scale(1);
  }
 }
 
 input + label .action {
  position: relative;
  overflow: hidden;
  display: grid;
 }
 
 input + label .action span {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  transition: all .5s;
 }
 
 input + label .action span.option-1 {
  transform: translate(0px,0%);
  opacity: 1;
 }
 
 input:checked + label .action span.option-1 {
  transform: translate(0px,-100%);
  opacity: 0;
 }
 
 input + label .action span.option-2 {
  transform: translate(0px,100%);
  opacity: 0;
 }
 
 input:checked + label .action span.option-2 {
  transform: translate(0px,0%);
  opacity: 1;
 }
 
 

 /* lazy component loader */
 .dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute; 
  margin-top: 5%;
}

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #6793fb;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}/* swiper  */

.swiper-slides img{
 width: 100%;
 height: fit-content;
}
 /* swiper  */
 .swiper-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:50px 0  0;
  padding: 0 0 50px ; 
}

.card-animation-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.card-animation-cont #cards {
  position: relative;
  height: 300px;
  width: 280px;
  overflow: hidden;
  border-radius: 10px;
}
/* Shadow over images */
.card-animation-cont #cards::after {
  content: "";
  position: absolute;
  height: 90%;
  inset: 0;
  z-index: 10;
  background-color: rgb(0, 0, 0, 0.1);
  z-index: 1;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.card-animation-cont #cards img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  transform-origin: bottom;
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.card-animation-cont #cards .info {
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  background-color: rgb(225, 225, 225);
  z-index: 2;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 18px;
  text-decoration: none;
  color: rgb(20, 20, 20);
  border-radius: 10px;
  transform: translateY(68%); 
  transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.card-animation-cont #cards .info strong {
  font-size: 1em;
  text-transform: uppercase;
}
.card-animation-cont #cards .info .sub-title {
  font-size: 0.8rem;
  opacity: 0.7;
  margin-top: 5px;
  font-weight: 500;
}

.card-animation-cont #cards .info hr {
  margin: 15px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.card-animation-cont #card .hide-info {
  transform: translateY(25px);
  opacity: 0;
  transition: 0.4s;
  transition-delay: 0.3s;
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.card-animation-cont #cards .hide-info a:hover {
  color: var(--dsecondarycolor);
}

.card-animation-cont #cards:hover > .info {
  transform: translateY(0);
}
.card-animation-cont #cards:hover > img {
  transform: scale(1.2);
}
.card-animation-cont #cards:hover::after {
  background-color: rgb(0, 0, 0, 0.5);
}
.card-animation-cont #cards:hover .hide-info {
  opacity: 1;
  transform: translateY(0);
}


/* Movies Toggle */

.Toast-con{
   z-index: 1000;
   bottom: 50%;
}
.primary-button {
  font-family: 'Ropa Sans', sans-serif;
     /* font-family: 'Valorant', sans-serif; */
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.05rem;
  border: 1px solid transparent ;
  padding: 0.8rem 2.1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-color: #0E1822;
  background-size: 200%;
  background-position: 200%;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
  transition-property: background-position, border, color;
  position: relative;
  z-index: 1;
 }
 
 .primary-button:hover {
  border: 1px solid #FF4655;
  backdrop-filter: blur(8px) saturate(161%);
  -webkit-backdrop-filter: blur(8px) saturate(161%);
  background-color: rgba(255, 70, 85, 0.39);
  color: white;
  background-position: 40%;
 }
 
 .primary-button:before {
  content: "";
  position: absolute;
  background-color: #FF4655;
  width: 0.2rem;
  height: 0.2rem;
  top: -1px;
  left: -1px;
  transition: background-color 0.15s ease-in-out;
 }
 
 .primary-button:hover:before {
  background-color: white;
 }
 
 .primary-button:hover:after {
  background-color: white;
 }
 
 .primary-button:after {
  content: "";
  position: absolute;
  background-color: #FF4655;
  width: 0.3rem;
  height: 0.3rem;
  bottom: -1px;
  right: -1px;
  transition: background-color 0.15s ease-in-out;
 }
 
 .button-borders {
  position: relative;
  width: fit-content;
  height: fit-content;
 }
 
 .button-borders:before {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  top: -0.3em;
  border: 1px solid #eee;
  border-bottom: 0px;
     /* opacity: 0.3; */
 }
 
 .button-borders:after {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  bottom: -0.3em;
  border: 1px solid #FF4655;
  border-top: 0px;
     /* opacity: 0.3; */
  z-index: 0;
 }
 
 .cont {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-inline: 20px;
}

.left-content {
  width: 50%; 
}

.right-content {
  width: calc(50% - 10px); 

}

 .shape {
  fill: #0E1822;
 }
 .text-containers
  {
  position: absolute;
  top: 30%;
  display: flex;
  font-weight: lighter;
  transform: translate(10%);
  z-index: 2;
}
.title{
  font-size: 4rem;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, rgba(0,0,0,0.7) 40%, rgba(0,0,0,0.3) 100%);
  z-index: 1;
  pointer-events: none;
  mix-blend-mode: multiply; 
}


.img-overlays {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(126, 125, 125, 0.7) 100%, rgba(0,0,0,0.9) 100%);
  z-index: 1;
  pointer-events: none;
  mix-blend-mode: multiply;
}
.image-container {
  background-color: #000000ff;
  box-shadow: 1px 9px 42px 1px rgba(0,0,0,0.42);
  -webkit-box-shadow: 1px 9px 42px 1px rgba(0,0,0,0.42);
  -moz-box-shadow: 1px 9px 42px 1px rgba(0,0,0,0.42);
}
    
  .image-content {
    display: inline-block; /* Display images in a row */
  }
  
.swiper-navigation-container {
  position: relative;
}

.swiper-navigation-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition */
}

.swiper-navigation-container:hover::after {
  opacity: 1; /* Show dark overlay on hover */
}

.swiper-navigation-container .swiper-button-prev,
.swiper-navigation-container .swiper-button-next {
  position: relative; 
  z-index: 1;
  opacity: 1; 
  transition: opacity 0.3s ease; 
}

.swiper-navigation-container:hover .swiper-button-prev,
.swiper-navigation-container:hover .swiper-button-next {
  opacity: 0.5; 
}


/* Swiper Navigation */
.swiper-navigation-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Background Division */
.navigation-background {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  z-index: 1;
}

/* Swiper Navigation */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
 color: rgb(234, 73, 73) !important;
  transform: translateY(-50%);

  z-index: 2;
}

.swiper-button-prev {
  left: 100%; 
}

.swiper-button-next {
  right:100%; 
}

#top{
  position: fixed  ;
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none;
  outline: none; 
  background-color: red; 
  color: white;
  cursor: pointer;
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
}
/* loaders */
.svs {
 width: 3.25em;
 transform-origin: center;
 animation: rotate4 2s linear infinite;
}

.circles {
 fill: none;
 stroke: hsl(214, 97%, 59%);
 stroke-width: 2;
 stroke-dasharray: 1, 200;
 stroke-dashoffset: 0;
 stroke-linecap: round;
 animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
 100% {
  transform: rotate(360deg);
 }
}

@keyframes dash4 {
 0% {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
 }

 50% {
  stroke-dasharray: 90, 200;
  stroke-dashoffset: -35px;
 }

 100% {
  stroke-dashoffset: -125px;
 }
}
.swiper-image-container {
  position: relative;
  height: 100vh;

}

.swiper-image-container .head-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-92%, -50%);
}
.image-overlay {
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3));
}

.head-banner {
 display: flex;
 flex-direction: column;
  text-align: left;
  position: absolute;
  top: 40%;
  left: 3.5rem;
  color: white;
}

.head-banner h1,
.head-banner span {
  text-align: left;

}



/* Home-css & Home-Swiper */

.hide-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  overflow: -webkit-scrollbars-none; 
  scroll-behavior: smooth;
}
.hide-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent; 
}

.hide-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
.span-shadow{
 text-shadow: 5px 5px 5px rgba(12, 9, 10, 0.4);
}


.top-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 90%;
  height: auto; 
}
.k-text {
  max-width: 600px; /* Adjust max-width as needed */
  margin: 0 auto; /* Center the text horizontally */
}

.fs-1 {
  font-size: 3rem; /* Example font size, adjust as needed */
}

.fs-4 {
  font-size: 1.5rem; /* Example font size, adjust as needed */
}
.bottom-image {
  position: relative; 
  width: 500px;
  height: auto;
}
.Swiper-disc {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.Swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.Swiper-slide img {
  display: absolute;
  width: 100%;
}

/* footer */

footer {
  
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  bottom: 0;
  color: #fff;
}

footer a {
color: #fff;
line-height:2.5 ;

}
.about-links a,
.services-links a {
  line-height: 2.5; 
  color: #fff;
}
.imgs{
  border-radius: 10px;
  }


 .about-section {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust the height as needed */
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.aoverlay {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.2); 
}

.about-section::before {
  content: ""; 
  position: absolute; 
  top: 0;
  left: 0; 
  width: 100%; 
  height: 100%; 
  background: linear-gradient(150deg, rgba(0,0, 0,0.4) 80%, rgba(0,0,0,0.2) 100%); /* Maintain the existing gradient */
}
 
.text-acontainer>h1{
 text-align: center;
  font-size:3.5rem;
  color: #fff;
  font-weight: 800;
}

.sub-text{
 color:#eee;
font-size:1.5rem;
}
.card:hover{
transform:scale(1.1);
transition:  all .2s ease-in-out;


}
.titles, .btitles, .ctitles{
  font-size: 2.8rem;
  font-weight: 800;
}

.desc-p {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.circular-button {
  width: 50px;
  height: 50px;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
  border:transparent none;
  border-color: transparent;
  background-color:transparent ; 
  cursor: pointer; 
  transition: transform 0.5s ease; 
}

.rotated {
  transform: rotate(45deg); /* Add the desired rotation angle */
}
.faq-clicker{
  background-color:#eeee;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.6);
}
.faq-clicker>h4{
  font-size: 1.2rem;
  margin-left: 20px;
  font-weight: 800;
}
.plus-clicked{

  padding: 10px;
  font-size: 1.2em;
  font-weight:500 ;
  border-radius:0 0 10px 10px ;
  background-color:#ffff;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}


.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
.checkmark-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.message {
  margin-top: -105px;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }   
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
.card-svg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
} 

/* Media-Queries */
@media all and (min-width:320px)  and (max-width:660px) {

.home, .text-overlay{
    font-size: 1rem;
  }
  .tv-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
.tv-section .text-container{
  text-align: center;
}

.dc-grid{
  width: 100%;
}
.Download-mobile{
  display: flex;
  justify-content: center;
  font-size: 1rem;
  flex-direction: column;
}
.Download-mobile>.text-dl-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Download-mobile .text-dl-container h1, .subtext{
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: center;
  flex-flow: wrap;
}

.img-DL>img{
  margin-bottom: 50px;
  size:300px ;

}
.watch-e{
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: column;

}
.img-kids>img{
  size: 200px;
  height: auto;
  
}
.watch-k{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
text-align: center;
white-space:  pre-line;
}
.k-text, h1, .kids-span{
text-align: center;
padding: 0 1em 0 1em;
}
.head-banner{
margin-bottom: 2em;
}
.head-banner span{
display: flex;
text-align: center;
justify-content: center;
}
.img-container>img{
display:none;
}

.title{
text-align: left;
font-size: 2em;
}

.text-acontainer>h1{
font-size:2.5rem;
display: flex;
flex-wrap: wrap;
} 
.btn-watch{
display: flex;  
}
.text-content{
  display:flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#cards:hover{
opacity:0.8;
}
.cont{
margin-top: 2rem;
}
.titles, .btitles, .ctitles{
font-size: 2.3rem;
}
.swiper-image-container .head-banner {
display: none; 
}
.text-containers
 {
  display:flex;
  justify-content: flex-start;
  text-align: left;
  align-items: flex-start;
}
.text-containers{
display:none;
}
.sub-text{
  text-align: center;
}
.card:hover{
transform: none;
}
.desc-p,.desc{
  display: none;
}
.cast p {
  display: none;
}
.title-svg{
display: flex;  
justify-content: center;
align-items: center;
}
}

@media screen and (max-width: 768px) {
  .fs-1 {
    font-size: 2.5rem; 
  }

  .fs-4 {
    font-size: 1.2rem; 
  }
}

@media screen and (max-width: 576px) {
  .fs-1 {
    font-size: 2rem; 
  }

  .fs-4 {
    font-size: 1rem;
  }
}